<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!-- Last Bottle Settings -->
    <add key="LB_URL" value="https://www.lastbottlewines.com/" />
    <!-- Last Bottle XPATH -->
    <add key="LB_XP_Title" value="//div[@class='e750-product-title']/h2/text()" />
    <add key="LB_XP_Price" value="//table[@class='table pricing']//div[@class='price']/text()" />
    <add key="LB_XP_PictureUrl" value="concat('https:',//div[@class='e750-product-image']/img/@src)" />
    <add key="LB_XP_Description_InnerXML" value="//p[@class='e750-product-description']" />
    <add key="LB_XP_ProductID" value="concat('LB',substring-after(substring-before(//a[@class='button-purchase']/@href,'.html'),'/LB'))" />
    <add key="LB_Refresh_Interval" value="600000" />
    <add key="LB_Refresh_Interval_Marathon" value="5000" />
    <!-- WTSO Settings -->
    <add key="WTSO_URL" value="https://www.wtso.com/#" />
    <add key="WTSO_Login_URL" value="https://www.wtso.com/login" />
    <add key="WTSO_CellarDetailBase_URL" value="https://www.wtso.com/customer/cellar_detail/{0}" />
    <add key="WTSO_Refresh_Interval" value="600000" />
    <add key="WTSO_Refresh_Interval_Marathon" value="10000" />
    <!-- WTSO XPATH -->
    <add key="WTSO_XP_ProductID" value="//input[@id='product_id']/@value" />
    <add key="WTSO_XP_Title" value="//div[@class='col-md-8 col-xs-6 text-center hidden-xs']/h2/text()" />
    <add key="WTSO_XP_PictureUrl" value="//img[@class='img-responsive img-rounded'][1]/@src" />
    <add key="WTSO_XP_Details_Table_Node" value="//table[contains(@class,'wtso-ratings')][1]" />
    <add key="WTSO_XP_Ratings_Collection" value="//td[@colspan='2' and @class='extra-pad']" />
    <add key="WTSO_XP_WTSO_Member_Rating" value="//div[@style='text-align: center;']//span[contains(text(),'WTSO Members')]/.." />
    <add key="WTSO_WTSO_Member_Rating_Regex" value="(?&lt;=&lt;span style=&quot;font-size: large;&quot;&gt;)[\d]+(?=(.|\n)*WTSO Members)" />
    <add key="WTSO_WTSO_Member_Rating_Text_Regex" value="(?&lt;=(.|\n)*)[\d]+(?=( |&amp;nbsp;)Points - WTSO Members!)" />
    <add key="WTSO_XP_UnitSize" value="//td[contains(text(),'Unit Size')]/following-sibling::td//text()" />
    <add key="WTSO_XP_Varietal" value="//td[contains(text(),'Varietal')]/following-sibling::td//text()" />
    <add key="WTSO_XP_Vintage" value="//td[contains(text(),'Vintage')]/following-sibling::td//text()" />
    <add key="WTSO_XP_Grape" value="//td[contains(text(),'Grape')]/following-sibling::td//text()" />
    <add key="WTSO_XP_Country" value="//td[contains(text(),'Country')]/following-sibling::td//text()" />
    <add key="WTSO_XP_Appellation" value="//td[contains(text(),'Appellation')]/following-sibling::td//text()" />
    <add key="WTSO_XP_Region" value="//td[contains(text(),'Region')]/following-sibling::td//text()" />
    <add key="WTSO_XP_ABV" value="//td[contains(text(),'Alcohol Content')]/following-sibling::td//text()" />
    <!-- WTSO Cellar Detail XPATH -->
    <add key="WTSO_XP_CD_Title" value="//div[@class='container wtso-container container-mobile']//li[@class='active']/text()" />
    <add key="WTSO_XP_CD_Details_Table_Node" value="//table[@class='wtso-ratings table-striped'][1]" />
    <add key="WTSO_XP_CD_ProductDescription_Regex" value="(?&lt;=previous order data(.)*&lt;/div&gt;( )*&lt;/div&gt;)(.|\n)*(?=&lt;script&gt;\r\nif)" />
    <!-- product description is badly formed HTML...hacking for now -->
    <add key="WTSO_Product_Description_Start_Comment" value="&lt;!-- BEGIN PRODUCT DESCRIPTION --&gt;" />
    <add key="WTSO_Product_Description_End_Comment" value="&lt;!-- END PRODUCT DESCRIPTION --&gt;" />
    <add key="WTSO_XP_ProductDescription_Collection" value="//div[@class='main-product-description']/div" />
    <add key="WTSO_ProductDescription_Regex" value="(?&lt;=&lt;!-- BEGIN PRODUCT DESCRIPTION --&gt;)(.|\n)*(?=&lt;!-- END PRODUCT DESCRIPTION --&gt;)" />
    <!-- Pricing data -->
    <add key="WTSO_XP_ShippingOffer" value="//div[@class='col-md-8 col-xs-6 text-center hidden-xs']/h3/text()" />
    <add key="WTSO_XP_Price" value="//td/strong[contains(text(),'Our Price (Delivered)')]/parent::*/following-sibling::td/h3/strong/text()" />
    <!-- WTSO Login Detection -->
    <add key="WTSO_XP_AccountContent" value="//div[@class='my-account-content' and @id='login-content']" />
    <!-- separate ranges with ; -->
    <add key="WTSO_Historical_Ranges" value="{2400,5000};{80000,89000}" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="WineScraper.Properties.Settings.WineConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Wine;Persist Security Info=True;User ID=sa;Password=gowine" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>